body {
  font-family: Arial, sans-serif;
  font-weight: lighter;
}

.nav {
  overflow: hidden;
  line-height: normal;
  font-family: Arial, sans-serif;
  margin: 10px 20px;
}

.nav a {
  float: right;
  color: rgba(0, 0, 0, .9);
  text-decoration: none;
  text-align: center;
  font-size: 13px;
  padding: 10px 12px 10px 12px;
  position: relative;
}

.nav a:hover {
  text-decoration: underline;
}

#app-icon {
  background-repeat: no-repeat;
  background-position: -132px -38px;
  background: url('https://ssl.gstatic.com/gb/images/i1_1967ca6a.png');
  background-size: 528px 68px;
  background-position: 401px 101px;
  width: 30px;
  opacity: .55;
}

#app-icon:hover {
  opacity: 1;
}

#blue-button {
  background-color: #4285f4;
  color: white;
  border-radius: 5%;
}

#blue-button:hover {
  text-decoration: none;
  box-shadow: 0px 0px 1px #4285f4;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 140px 0 0 0;
  font-size: 14px;
}

#search-bar {
  width: 500px;
  border: 0px;
}
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 28px;
  height: 42px;
  width: 580px;
  border: 1px solid #dfe1e5;
  border-radius: 25px;
}

.search-bar:hover {
  box-shadow: 0px .5px 4px #D8D8D8;
}

.button-container {
  margin: 22px;
}

.button {
  margin: 5px;
  border: 0px;
  height: 36px;
  color: rgba(0, 0, 0, .6);
  background-color: rgb(242, 242, 242);
  font-size: 14px;
  padding: 0 16px;
  border-radius: 5%;
}

.button:hover {
  color: rgba(0, 0, 0, .8);
  background-color: rgba(242, 242, 242, .7);
  border: 1px solid rgba(0, 0, 0, .2);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, .2);
}
